h1 {
  color: #0000fa90;
}

.tituloDaAula {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#tituloh2 {
  color: green;
}

#tituloh3 {
  color: red;
}

#perfilPedro {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px dashed red;
}
