header {
  background-color: var(--cor-2);
  border: 0.7px solid var(--cor-1);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px 0;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 10px;
}

.classButton {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.classButton:hover {
  cursor: pointer;
}

#sectionSearch {
  display: flex;
  gap: 30px;
  background-color: transparent;
}

input {
  height: 30px;
  background-color: var(--cor-1);
  border: 0.7px solid var(--cor-3);
  font-size: 18px;
  border-radius: 8px;
  padding: 5px 10px;
}

input:focus {
  outline-color: var(--cor-4);
  box-shadow: 1px 1px 10px var(--cor-4);
}

#buttonSearch {
  display: none;
}


@media(min-width: 800px) {
  header {
    width: 100%;
    height: 20vh;
    margin: 25px 20px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    flex-direction: row;
    gap: 30px;
  }

  #buttonSearch {
    display: flex;
    border: 0.7px solid var(--cor-5);
    background-color: var(--cor-1);
    color: var(--cor-5);
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
  }
  
  #buttonSearch:hover {
    background-color: var(--cor-5);
    color: var(--cor-1);
    cursor: pointer;
  }
}
